<!DOCTYPE html>
<html lang="en">
<head>
<style> 
.colm{column-count:2;}
div {
	
	  padding: 50px; 
	  width: 500px;
	  resize: vertical;
	  overflow: auto;
	}
	

</style>
    <meta charset="UTF-8">
    <title>FlaskBlog</title>
	<link rel="p6" href="C:\Users\dilshani\Desktop\flask\templates\p6.jpg" type="image">	
</head>

<body style="background-color:pink;">

   <h1 style="color:red;font-family:Times;font-size:72px;text-align:left"><i> Lithu Creations</i> </h1>
	<div class="colm">

		<h2 style="background-color:white;">Welcome to the best Girl's Store...</h2>
	
			<p>Call us: 0711231236</p>
			<p style="color:blue">Everything on hand</p>
		<div>
			<p style="background-color:tomato;font-size=36;"><em>Categories</em></p>
			<ul>
			<li>Cosmetics </li> 
			<li>Hair accessories </li> 
			<li>Bags</li> 
			<li>Dresses</li> 
			<li>Gifts</li>
			</ul>
		</div>
</div>
</body>
</html>
